extends layout

block content
  p ITMD 541 - Lab 2 - Bori Kim
  h1= title
  hr
  p This Contacts Database presents your contacts in a table. If you would like to see the full contact information about a person of your choice, you can click "View." You can also edit or delete existing contacts on the view page. Please click "View Contacts" button below to start!
  br
  div(class='container')
    a(class='greyBtn' href='/contacts') View Contacts
  br
  p(class='myInfo') Developed By: Bori Kim / Contact: bkim35@hawk.iit.edu