extends layout

block content
  h1= title
  a(href='/contacts') View Contacts
  hr
  p This Contact Database presents your contacts in a table. If you want to see the full contact information about a person of your choice, you can click "View." You can also edit or delete existing contacts on the view page. Please click "View Contacts" button above to start!
  br
  p Developed By: Bori Kim
  p Contact: bkim@hawk.iit.edu