extends layout

block content
  div(class='page')
    p ITMD 542 - Lab 3 - Bori Kim
    h1= title
    hr
    p This Node JS Express application is a Contacts Database.
    p You can view all existing contacts in a table or a single contact details on a screen. You can manage your contacts by creating new contacts, edititing existing contacts, and deleting contacts of your choice.
    p Your last saved contacts will be here for you, so you can view them whenever you come back next time!
    br
    p(class='intro') Please click "View Contacts" button below to start!
    div(class='container')
      a(class='greyBtn' href='/contacts') View Contacts
    p(class='myInfo') Developed By: Bori Kim / Contact: bkim35@hawk.iit.edu